@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 5%;
  --foreground: 0 0% 95%;
  --input: 0 0% 15%;
  --muted-foreground: 0 0% 65%;
}

body {
  @apply bg-background text-foreground;
}

.lab-bg::before {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
}
